@* <h1 class="text-center my-3">Student Regestraion</h1> *@
@model OrderDetailModel

<section class="section">
    <div class="row">
        <div class="col-lg">

            <div class="card">
                <div class="card-body pt-3">
                    <div class="row my-3">

                        <div class="col">
                            <form>
                                <input type="button" value="Go back!" onclick="history.back()">
                            </form>
                        </div>
                        <div class="col-10 text-center fs-6 fw-bold">Order Detail</div>
                    </div>
                    <form method="post" asp-controller="OrderDetail" asp-action="OrderDetailSave">
                        <input type="hidden" asp-for="OrderDetailID" />
                        <div class="row mb-3">
                            <label for="inputInteger" class="col-sm-2 col-form-label">Order ID</label>
                            <div class="col-sm-10">
                                <select asp-for="OrderID" class="form-select" asp-items="@(new SelectList(ViewBag.OrderList, "OrderId", "OrderId"))">
                                    <option value="">Select OrderID</option>
                                </select>

                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputEmail" class="col-sm-2 col-form-label">Product ID</label>
                            <div class="col-sm-10">
                                <select asp-for="ProductID" class="form-select" aria-label="Default select example" asp-items="@(new SelectList(ViewBag.ProductList, "ProductID", "ProductName"))">
                                    <option value="">Select Product</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-2 col-form-label">Quantity </label>
                            <div class="col-sm-10">
                                <select asp-for="Quantity" class="form-select" aria-label="Default select example">
                                    <option selected>select quantity</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputNumber" class="col-sm-2 col-form-label"> Amount</label>
                            <div class="col-sm-10">
                                <input asp-for="Amount" type="number" class="form-control">
                                <span asp-validation-for="Amount" class="form-text text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputNumber" class="col-sm-2 col-form-label">Total Amount</label>
                            <div class="col-sm-10">
                                <input asp-for="TotalAmount" type="number" class="form-control">
                                <span asp-validation-for="TotalAmount" class="form-text text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-2 col-form-label">User ID </label>
                            <div class="col-sm-10">
                                <select asp-for="UserID" class="form-select" aria-label="Default select example" asp-items="@(new SelectList(ViewBag.UserList, "UserID", "UserName"))">
                                    @* <option selected>select user id</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option> *@
                                    <option value="">Select User</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3 text-center">
                            <div class="col-sm-10">
                                <button type="reset" class="btn btn-secondary">Reset Form</button>

                                <button type="submit" class="btn btn-primary">Submit Form</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>

        </div>

    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}